@charset "UTF-8";
//
@import "./variables";

*,
*:before,
*:after {
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body,
input,
button {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

ul {
  &:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    & > li {
      list-style-type: none;
    }
  }
}

figure {
  margin: 0;
  padding: 0;
}

picture {
  display: contents;
}

a {
  color: $link-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 1.2;
  color: $title-color;
}

h2 {
  font-size: 48px;
}

// h3 {
//   font-size: 20px;
// }

p {
  font-size: 16px;
  line-height: 30px;
  color: $text-color;
}
