// 1. THEMING
// pink
$pink-color: #DF346C !default;
$pink-color-light: lighten($pink-color, 15%) !default;
$pink-color-dark: darken($pink-color, 15%) !default;
// blue
$blue-color: #1D89C0 !default;
$blue-color-light: lighten($blue-color, 15%) !default;
$blue-color-dark: darken($blue-color, 15%) !default;
// purple
$purple-color: #584D98 !default;
$purple-color-light: lighten($purple-color, 15%) !default;
$purple-color-dark: darken($purple-color, 15%) !default;
//
$success-color: #1D89C0 !default;
$error-color: #f44336 !default;
$link-color: $pink-color !default;
//
$text-color: #47484A !default;
$title-color: #47484A !default;
$background-color: #FFFCEE !default;

// 3. KEYFRAME TEMPLATE
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

