/*
 *  MAIN PAGE CSS
 *
 *  1.  IMPORTS
 *  2.  HEADER
 *  3.  ABOUT FINANCE
 *  4.  HOW WORK
 *  5.  EXCLUSIVE BENEFITS
 *  6.  FINANCIAL EDUCATION
 *  7.  FINANCIAL HEALTH
 *  8.  MAKE DIFFERENCE 
 *  9.  FORM CONTAINER
 *   9.1 FORM
 *  10. FOOTER 
 */


/*
 * 1. IMPORTS
 */
@import 'variables';
@import 'default';
@import 'common';

/*
 * 2. HEADER
 */
header {
  position: relative;
  width: 100%;
  height: 640px;
  min-height: 100vh;
  overflow: hidden;
  #header-background {
    .background {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      min-width: 100%;
      min-height: 100%;
    }
    .background-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      top: 10px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      opacity: .15;
    } 
  }
  .content {
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
    .logo {
      max-width: 90%;
    }
    p {
      text-align: center;
      font-size: 24px;
      margin: 0;
      margin-top: 24px;
      max-width: 90%;
      font-weight: 700;
      color: #fff;
    }
  }
  @media screen and (max-width: 1000px) { 
    #header-background {
      .background-text {
        display: none;
      } 
    }
    .content {
      padding-bottom: 160px;
    }
  }
}


/*
 * 3. ABOUT FINANCE
 */

#section-about-finance {
  position: relative;
  z-index: 50;
  margin: 0 auto;
  top: -140px;
  margin-bottom: -140px;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 72px 80px;
  padding-top: 64px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(#000,0.16);
  border-radius: 10px;
  h2 {
    width: 40%;
    max-width: 280px;
    margin-left: 16px;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 58px;
    color: $title-color;
    margin: 0;
  }
  .text {
    width: 60%;
    max-width: 460px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      margin: 0;
      font-weight: 300;
      color: #707070;
      line-height: 2;
    }
    .btn {
      margin-top: 32px;
    }
  }
  @media screen and (max-width: 1000px) { 
    top: -160px;
    margin-bottom: -160px;
    flex-direction: column;
    padding: 40px 32px;
    text-align: center;
    h2 {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      font-size: 24px;
      line-height: 1.2;
    }
    .text {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 32px;
      p {
        line-height: 1.5;
      }
      .btn {
        margin: 0 auto;
        margin-top: 32px;
      }
    }

  }
}

/*
 * 4. HOW WORK
 */

#section-how-work {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  .flow-start {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 112px;
    .center-image {
      width: 300px;
    }
    p {
      width: calc(50% - 113px);
      margin: 0;
      // margin-top: 40px;
      letter-spacing: -1px;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      &.left {
        text-align: left;
        strong {
          color: $pink-color;
        }
      }
      &.right {
        text-align: right;
        strong {
          color: $blue-color;
        }
      }
    }
    .lines {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .flow-title {
    font-size: 48px;
    text-align: center;
    margin: 16px 0;
    margin-top: 8px;
    letter-spacing: -4px;
  }
  .flow {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/img/lines/how-work-lines.svg');
    background-repeat: repeat-y;
    background-position: center top;
    padding-top: 7px;
    padding-bottom: 120px;
    .item {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .number {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #DF346C;
        color: #fff;
        font-size: 25px;
        line-height: 1;
        font-weight: bold;
        border-radius: 25px;
        &:after {
          width: 59px;
          height: 1px;
          background: #DF346C;
          content: ' ';
          display: block;
          position: absolute;
          top: 50%;
        }
      }
      .text {
        width: calc(50% - 108px);
        margin: 0;
        position: relative;
        p {
          margin: 0;
          width: 321px;
          max-width: 100%;
          font-size: 16px;
          line-height: 2;
          font-weight: 300;
        }
        &:after {
          width: 1px;
          height: 100%;
          background: #DF346C;
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          // transform: translateY(-1px);
        }
      }
      &.left {
        flex-direction: row-reverse;
        .number {
          margin-left: 83px;
          margin-right: auto;
          &:after {
            left: -59px;
          }
        }
        .text {
          p {
            margin-left: auto;
            text-align: right;
          }
          &:after {
            right: -24px;
          }
        }
      }
      &.right {
        flex-direction: row;
        .number {
          margin-left: auto;
          margin-right: 83px;
          &:after {
            right: -59px;
          }
        }
        .text {
          p {
            margin-right: auto;
          }
          &:after {
            left: -24px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) { 
    .flow-start {
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      .center-image {
        width: 100%;
        max-width: 375px;
        margin: 24px 0;
      }
      p {
        width: 100%;
        max-width: 225px;
        margin: 0;
        &.left {
          text-align: center;
        }
        &.right {
          text-align: center;
        }
      }
      .lines {
        display: none;
      }
    }
    .flow-title {
      font-size: 32px;
      margin-top: 56px;
    }
    .flow {
      padding-top: 0;
      padding-bottom: 64px;
      background-image: url('../../assets/img/lines/how-work-lines-mobile.svg');
      background-repeat: no-repeat;
      background-position: 14.5px 90px;
      .item {
        display: flex;
        margin-top: 32px;
        .number {
          width: 32px;
          height: 32px;
          font-size: 16px;
          &:after {
            width: 16px;
          }
        }
        .text {
          width: calc(100% - 64px);
          p {
            width: 100%;
          }
        }
        &.left {
          flex-direction: row;
          .number {
            margin-left: 0;
            margin-right: auto;
            &:after {
              left: auto;
              right: -16px;
            }
          }
          .text {
            p {
              margin-left: 0;
              text-align: left;
            }
            &:after {
              left: -16px;
              right: auto;
            }
          }
        }
        &.right {
          .number {
            margin-left: 0;
            margin-right: auto;
            &:after {
              right: -16px;
            }
          }
          .text {
            p {
              margin-left: 0;
            }
            &:after {
              left: -16px;
            }
          }
        }
      }
    }
  }
}

/*
 * 5. EXCLUSIVE BENEFITS
 */
#section-exclusive-benefits {
  padding-top: 9.663%;
  padding-bottom: 8.785%;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  .content {
    position: relative;
    z-index: 10;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        color: #fff;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -2px;
        margin: 0; 
      }
      h3 {
        color: #C4A7FF;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        margin-top: 8px;
      }
      .btn {
        margin-top: 32px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .box {
        max-width: 380px;
        padding: 40px 56px;
        background: #fff;
        text-align: center;
        border-radius: 10px;
        p {
          font-size: 32px;
          margin: 0;
          color: #707070;
          line-height: 1.2;
          letter-spacing: -3px;
          strong {
            color: #47484A;
          }
          span {
            color: #DF346C;
            font-weight: bold;
          }
        }
      }
      .btn {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1000px) { 
    padding-top: 64px;
    padding-bottom: 48px;
    position: relative;
    overflow: hidden;
    .content {
      max-width: 100%;
      flex-direction: column;
      .left {
        text-align: center;
        align-items: center;
        h2 {
          font-size: 32px;
          line-height: 40px;
        }
        h3 {
          font-size: 16px;
          margin-top: 16px;
        }
        .btn {
          display: none;
        }
      }
      .right {
        // display: flex;
        // flex-direction: column;
        align-items: center;
        text-align: center;
        p {
          &:first-of-type {
            margin-top: 32px;
          }
          &.font {
            margin-top: 16px;
          }
        }
        h4 {
          margin: 8px 0; 
        }
        .btn {
          display: flex;
          margin-top: 32px;
        }
      }
    }
  }
}

/*
 * 6. FINANCIAL EDUCATION
 */
#section-financial-education {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  margin: 100px auto;
  h2 {
    margin: 0;
    margin-left: 56px;
    width: 240px;
    letter-spacing: -3px;
  }
  img {
    width: auto;
    // margin: 0 40px;
  }
  .text {
    max-width: 440px;
    margin-left: auto;
    .top-text {
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.3px;
      margin: 0;
      color: #707070;
    }
    .sub-text {
      font-size: 12px;
      font-weight: 300;
      margin: 0;
      margin-top: 24px;
      color: #B5B5B5;
      line-height: 1;
    }
  }
  @media screen and (max-width: 1000px) { 
    flex-direction: column;
    margin: 48px auto;
    text-align: center;
    img {
      width: auto;
      max-width: 120px;
      margin: 0 auto;
    }
    h2 {
      font-size: 32px;
      width: auto;
      margin: 0 40px;
      margin-top: 16px;
    }
    .text {
      margin: 0 auto;
      margin-top: 32px;
      .sub-text {
        margin: 0 40px;
        margin-top: 24px;
      }
    }
  }
}

/*
 * 6. HR BONUS
 */
#section-hr-bonus {
  position: relative;
  z-index: 50;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(#000,0.16);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: -150px;
  padding: 60px 80px;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  h2 {
    width: 50%;
    max-width: 330px;
    margin-left: 16px;
    letter-spacing: -2px;
    font-size: 48px;
    line-height: 58px;
    color: $title-color;
    margin: 0;
  }
  .text {
    width: 50%;
    max-width: 427px;
    margin-left: 40px;
    p {
      margin: 0;
      font-weight: 300;
      color: #707070;
      line-height: 2;
    }
  }
  @media screen and (max-width: 1000px) {
    margin-bottom: -110px;
    padding: 40px 32px;
    flex-direction: column;
    text-align: center;
    h2 {
      width: 100%;
      max-width: 220px;
      margin-left: 0;
      font-size: 32px;
      line-height: 1.2;
    }
    .text {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 32px;
      p {
        line-height: 1.5;
      }
    }
  }
}

/*
 * 7. FINANCIAL HEALTH
 */
#section-financial-health {
  position: relative;
  width: 100%;
  padding-top: 18.82%;
  padding-bottom: 90px;
  overflow: hidden;
  .background-container {
    .background {
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
    .background-text {
      position: absolute;
      top: 0;
      left: 8px;
      z-index: 10;
      width: calc(100% - 16px);
      opacity: 0.15;
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    z-index: 40;
    .top-text {
      margin: 0;
      color: #fff;
      font-weight: 300;
      line-height: 2;
      max-width: 720px;
    }
    .logo {
      margin: 24px 0;
    }
    .sub-text {
      margin: 0;
      color: #ddd;
      font-weight: 300;
      line-height: 2;
      max-width: 720px;
    }
    .btn {
      margin-top: 24px;
    }
  }
  @media screen and (max-width: 1000px) {
    padding-top: 180px;
    padding-bottom: 72px;
    .background-container {
      .background-text {
        display: none;
      }
    }
    .content {
      .top-text {
        line-height: 1.5;
        margin: 0 16px;
      }
      .logo {
        margin: 32px 0;
      }
      .sub-text {
        margin: 0 20px;
        line-height: 20px;
      }
      .btn {
        margin-top: 24px;
      }
    }
  }
}

/*
 * 8. MAKE DIFFERENCE 
 */
#section-make-difference {
  position: relative;
  padding: 220px 0;
  overflow: hidden;
  .background {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: calc(100% - 32px);
  }
  .content {
    position: relative;
    z-index: 10;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      width: 60%;
      max-width: 520px;
      letter-spacing: -4px;
      span {
        color: $pink-color;
      }
    }
    .text {
      p {
        margin: 4px 0;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: -4px;
        span {
          margin-right: 8px;
        }
        &.blue {
          color: $blue-color;
        }
        &.pink {
          color: $pink-color;
        }
        &.purple {
          color: $purple-color;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    padding: 60px 0;
    .background {
      height: 100%;
      left: 0;
      transform: translateY(-50%);
      max-width: none;
    }
    .content {
      padding: 0 24px;
      flex-direction: column;
      h2 {
        width: 100%;
        font-size: 24px;
        letter-spacing: -1px;
        text-align: center;
      }
      .text {
        margin-top: 32px;
        p {
          font-size: 24px;
          letter-spacing: 0px;
        }
      }
    }
  }
}

/*
 * 9. FORM CONTAINER
 */
#section-form {
  position: relative;
  width: 100%;
  padding-top: 8.13%;
  padding-bottom: 13.18%;
  overflow: hidden;
  .background {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 10;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    .text {
      margin-top: 24px;
      width: 50%;
      max-width: 460px;
      h2 {
        margin: 0;
        color: #fff;
        letter-spacing: -3px;
      }
      p {
        margin: 0;
        margin-top: 56px;
        line-height: 2;
        max-width: 306px;
        font-weight: 300;
        color: #fff;
      }
    }
    form {
      width: 50%;
      max-width: 390px;
      margin-left: auto;

    }
  }
  
  @media screen and (max-width: 1000px) {
    padding: 64px 0;
    .content {
      flex-direction: column;
      .text {
        margin-top: 0;
        width: 100%;
        max-width: 100%;
        text-align: center;
        h2 {
          margin: 0 40px;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -1px;
        }
        p {
          margin: 0 16px;
          margin-top: 32px;
          line-height: 1.5;
          max-width: 100%;
        }
      }
      form {
        margin: 0 auto;
        margin-top: 48px;
        width: 100%;
        max-width: 480px;
      }
    }
  }
}

/*
 * 9.1. FORM
 */

#content-form {
  .input-container {
    position: relative;
    width: 100%;
    height: 56px;
    background: #fff;
    border-radius: 8px;
    margin-top: 12px;
    label {
      position: absolute;
      top: 18px;
      left: 20px;
      color: #41538E;
      font-weight: 300;
      z-index: 2;
      pointer-events: none;
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    input, select {
      width: 100%;
      height: 100%;
      border: 0;
      background: 0;
      display: flex;
      align-items: center;
      color: #584D98;
      font-size: 16px;
      padding: 0 20px;
      padding-top: 13px;
      font-weight: bold;
      border-radius: 8px;
      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus {
        border: 0;
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
        -webkit-text-fill-color: #584D98 !important;
      }
    }
    select {
      padding-left: 16px;
    }
    &.focus {
      label {
        top: 11px;
        font-size: 10px;
      }
    }
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    .message {
      width: 220px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 24px;
      p {
        margin-left: 10px;
        font-size: 10px;
        color: #fff;
        line-height: 16px;
      }
    }
    .btn {
      .spinner {
        position: relative;
        width: 0px;
        height: 0px;
        margin-left: 0px;
        transition: all .3s;
      }
      .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        border-radius: 50%;
        animation: spinner 1s linear infinite;
        transition: border-top-color .3s;
      }
      &:disabled {
        .spinner {
          width: 16px;
          height: 16px;
          margin-left: 8px;
        }
        .spinner:before {
          border-top-color: #fff;
        }
      }
    }
  }
}

/*
 * 10. FOOTER
 */
footer {
  padding: 88px 0;
  background: #EFEFEF;
  width: 100%;
  .content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .text {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      a {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:first-of-type {
          margin-bottom: 8px;
        }
        span {
          font-size: 16px;
          margin-left: 8px;
          color: #47484A;
          font-weight: 500;
          transition: color 300ms ease-out;
        }
        &:hover {
          span {
            color: $pink-color;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    padding: 64px 0;
    .content {
      flex-direction: column;
      .text {
        margin: 0;
        margin-top: 48px;
        align-items: center;
        a {
          padding: 4px;
        }
      }
    }
  }
}